@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body{
    background-color: #272727;
    font-family: "Lato",sans-serif;
    text-align: center;
    color: white;
    font-size: 80px;
}

.dropdown-menu select,button{
    font-size: 50px;
}

.timeContainer{
    background: linear-gradient(to right, darkorange,purple, darkblue);
    margin: 80px;
    box-shadow: 50px 50px 50px black;
    border-radius: 20px;
    padding: 20px;
}

